BODY {
	FONT: 11px arial;
	TEXT-ALIGN: center;
	margin: 2px;
}
P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
INPUT {
	font-size: 12px;
}
TEXTAREA {
	font-size: 12px;
}
SELECT {
	font-size: 12px;
}
.top_heading {
	FONT: bold 11px arial;
	COLOR: #555;
	HEIGHT: 18px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #ddd;
	padding: 0px;
	margin-bottom: 2px;
	text-align: left;
}
.account {
	text-align: left;
}
.account A {
	color: #2c5d8f;
}
#menu_block {
	MARGIN: 7px 0px 0px
}
A.navigation_toplevel:link {
	BORDER-RIGHT: #777 1px solid;
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 7px;
	FONT: bold 12px arial;
	TEXT-TRANSFORM: uppercase;
	COLOR: #fff;
	PADDING-TOP: 7px;
	TEXT-DECORATION: none
}
A.navigation_toplevel:visited {
	BORDER-RIGHT: #777 1px solid;
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 7px;
	FONT: bold 12px arial;
	TEXT-TRANSFORM: uppercase;
	COLOR: #fff;
	PADDING-TOP: 7px;
	TEXT-DECORATION: none
}
A.navigation_toplevel:active {
	BORDER-RIGHT: #777 1px solid;
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 7px;
	FONT: bold 12px arial;
	TEXT-TRANSFORM: uppercase;
	COLOR: #fff;
	PADDING-TOP: 7px;
	TEXT-DECORATION: none
}
A.navigation_toplevel:hover {
	BACKGROUND: #333; COLOR: #fff
}
.navigation_toplevel IMG {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	VERTICAL-ALIGN: middle;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 0px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}
.navigation_toplevel .on {
	BACKGROUND: #333;
	COLOR: #fff
}

#search {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 4px;
	FONT: 12px arial;
	VERTICAL-ALIGN: middle;
	COLOR: #333;
	PADDING-TOP: 7px;
	HEIGHT: 30px;
	TEXT-ALIGN: left;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#search #browse {
	COLOR: #333;
	TEXT-ALIGN: right
}
#search FORM {
	DISPLAY: inline
}
#search INPUT {
	FONT: 11px arial;
	VERTICAL-ALIGN: middle;
	COLOR: #333
}
#search UL {
	MARGIN: 0px;
}
#search UL LI {
	DISPLAY: inline;
	MARGIN: 0px 5px 0px 0px;
	VERTICAL-ALIGN: middle; 
}
#search UL LI A {
	color: #2c5d8f;
}
#legal {
	COLOR: #FFFFFF;
	TEXT-ALIGN: left;
	margin-left: 10px;
}
#legal A {
	COLOR: #FFFFFF;
	TEXT-ALIGN: left;
	font-weight:bold;
}
#subhead {
	text-indent: 5px;
	
}
#main_body {
	background-position: center;
	width: 970px;
	text-align: left;
}
#main_body #page_location {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: dashed;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	height: 20px;
	color: #666666;
}
#main_body #page_location A {
	color: #666666;
	line-height: 20px;
	text-decoration: none;
}
#main_body #page_location A:hover {
	color: #666666;
	line-height: 20px;
	text-decoration: underline;
}

H1 {
	MARGIN: 2px 0px 0px;
	TEXT-TRANSFORM: uppercase;
	COLOR: #996633;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}
H2 {
	MARGIN: 8px 0px 6px;
	TEXT-TRANSFORM: uppercase;
	COLOR: #000066;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
}
H3 {
	MARGIN: 8px 0px 6px;
	FONT: bold 11px arial; 
}
.navigation_links {
	color: #000066;
}
.navigation_links A {
	color: #000066;
}
#main_body #main_table {
	margin-top: 10px;
	margin-bottom: 10px;
}
#main_body #main_table #sub_navigation {
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.sub_navigation_links {
	LIST-STYLE-POSITION: outside;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.sub_navigation_links LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	LIST-STYLE-IMAGE: url(../image/redarrow.gif);
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 0px;
	margin: 0;
}
#main_body #main_table #sub_body {
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.sub_navigation_links LI A {
	color: #2c5d8f;
}
.sub_navigation_links LI A:hover {
	color: #4B4B4B;
}
.blue_btn A {
	BORDER-RIGHT: #a3bad1 1px solid;
	PADDING-RIGHT: 6px;
	BORDER-TOP: #a3bad1 1px solid;
	PADDING-LEFT: 6px;
	BACKGROUND: url(../image/button_bg_blue.gif) repeat-x;
	PADDING-BOTTOM: 3px;
	BORDER-LEFT: #a3bad1 1px solid;
	MARGIN-RIGHT: 5px;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #a3bad1 1px solid;
	TEXT-DECORATION: none;
	font-family: arial;
	font-size: 11px;
	color: #003366;
}
.blue_btn A:hover {
	color: #996600;
}
#main_body #sub_discription {
	border: 1px solid #FFEA93;
	background-color: #FFFAF4;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#item_line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
	margin-bottom: 5px;
	padding-bottom: 10px;
	padding-top: 5px;
}
#item_noline {
	margin-bottom: 5px;
	padding-bottom: 10px;
	position: relative;
	padding-top: 10px;
}
h3 {
	font-size: 20px;
	font-weight: bold;
	color: #990000;
	margin-bottom: 0px;
	padding-top: 5px;
}
#item_line #item_line_A {
	width: 160px;
	float: left;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
}
#item_line #item_line_B {
	width: 450px;
	position: relative;
	color: #000000;
	line-height: 16px;

}
.table_header_td {
	font-weight: bold;
	text-transform: capitalize;
	background-color: #FAFAFA;
	border-top-width: 1px;
	border-bottom-width: 2px;
	border-top-style: dotted;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	font-size: 12px;
	height: 20px;
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.table_header_td A {
	font-weight: bold;
	font-size: 12px;
	color: #666666;
}
.table_line_td {
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.table_line_td A {
	color: #000000;
	text-decoration: none;
}
.table_line_highlight_td {
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
	font-weight: bold;
	color: #000000;
}
.table_line_highlight_blue_td A {
	color: #0066CC;
	font-weight: bold;
}
.table_line_highlight_blue_td {
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
	font-weight: bold;
	color: #0066CC;
}
.table_line_highlight_td A {
	color: #000000;
	font-weight: bold;
}
.table_line_fontgary_td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 4px;
	height: 20px;
	color: #999999;
}
.table_dashedline_td {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #AAAAAA;
	height: 20px;
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 5px;
	padding-left: 4px;
}
.table_dashedline_td_bg_gray {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #AAAAAA;
	height: 20px;
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 5px;
	padding-left: 4px;
	BACKGROUND: #FAFAFA;
}
.table_dashedline_td A {
	text-decoration: none;
	color: #000066;
}

.table_dashedline_td_bg_gray A {
	text-decoration: none;
	color: #000066;
}
.table_noline_td {
	height: 20px;
	padding-top: 20px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.table_noline_hignlight_td {
	height: 20px;
	font-weight: bold;
	padding-top: 20px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.table_noline_hignlight_td A {
	height: 20px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.table_noline_hignlight_blue_td A {
	height: 20px;
	font-weight: bold;
	color: #0066CC;
}
.table_noline_hignlight_blue_td {
	height: 20px;
	font-weight: bold;
	color: #0066CC;
	padding-top: 20px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.page_navigation_1_2_3  {
	color: #000000;
	font-weight: bold;
}
.page_navigation_1_2_3 A {
	color: #0066CC;
	font-weight: bold;
}
LEGEND.pmsform {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 3px;
	MARGIN: 0px;
	FONT: bold 11px arial;
	TEXT-TRANSFORM: uppercase;
	COLOR: #990000;
	PADDING-TOP: 2px
}
FIELDSET.pmsform {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 14px;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: 14px;
	PADDING-BOTTOM: 10px;
	MARGIN: 0px 0px 10px;
	BORDER-LEFT: #000 1px solid;
	COLOR: #333;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #000 1px solid
}
LABEL.pmsform {
	DISPLAY: block;
	MARGIN: 10px 0px 0px;
	FONT: bold 11px arial;
	COLOR: #333
}
BUTTON.blue_btn {
	BORDER-RIGHT: #a3bad1 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #a3bad1 1px solid;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../image/button_bg_blue.gif) repeat-x;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #a3bad1 1px solid;
	MARGIN-RIGHT: 10px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #a3bad1 1px solid;
	font-family: arial;
	font-size: 11px;
	color: #003366;
}

